body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
 
 
  padding: 2rem;
  background-color: rgb(255, 255, 255);
  margin: 0 auto 0 auto;
}

.result {
  background-color: rgb(193, 193, 193);
  display: inline-block;
  width: 100px;
  height: 100px;
}